<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head_info :: head}"/>
<body>
<!--banner-->
<div class="banner-bg banner-bg1 page-head">
    <div th:replace="~{fragment/container-info :: container}"/>
</div>
<!--//banner-->
<!--gallery-->
<!--light-box-files -->
<script src="js/jquery.chocolat.js"></script>

<!--light-box-files -->
<script type="text/javascript">
    $(function () {
        $('.moments-bottom a').Chocolat();
    });
</script>
<!--moments-starts-->
<div class="moments">
    <div class="container">
        <h3>图集</h3>
        <div class="moments-bottom">
            <div class="col-md-4 moments-left" th:each="prod:${categoryModeList}">
                <a class="mask1" th:attr="href=${prod.imgSrc}">
                    <img th:attr="src=${prod.imgSrc}" class="img-responsive zoom-img" alt="name"/>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--moments-->
<!--//gallery-->
<!--footer-->
<div th:replace="~{fragment/footer-info :: footer}"/>
<!--footer-->
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>