<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head_info :: head}"/>
<body>
<!--banner-->
<div class="banner-bg banner-bg1">
    <div th:replace="~{fragment/container-info :: container}"/>
</div>
<!--/banner-->
<!-- welcome -->
<div class="welcome">
    <div class="container">
        <div class="wel-header">
            <h3>欢迎</h3>
        </div>
        <div class="wel-grids">
            <div class="col-md-5 wel-left">
                <p>Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae.</p>
            </div>
            <div class="col-md-2 wel-middle text-center">
                <img src="images/444.png" alt=" "/>
            </div>
            <div class="col-md-5 wel-right">
                <p>Sed ut perspiciatis unde omnis iste natus
                    error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore
                    veritatis et quasi architecto beatae vitae.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- welcome -->
<!--categories-->
<div id="cate" class="categories">
    <div class="container">
        <div class="cat-head">
            <h3>最新设计</h3>
        </div>
        <div class="categorie-grids cs-style-1">
            <div class="col-md-4 cate-grid grid" th:each="prod:${categoryModeList}">
                <figure>
                    <img th:attr="src=${prod.imgSrc}" alt="">
                    <figcaption>
                        <h3 th:text="${prod.title}"/>
                        <span th:text="${prod.description}"/>
                        <a href="gallery.html">VIEW</a>
                    </figcaption>
                </figure>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--categories-->
<!--flex slider-->
<div class="flex-slider">
    <div class="container">
    </div>
</div>
<!--flex slider-->
<!--footer-->
<div th:replace="~{fragment/footer-info :: footer}"/>
<!--footer-->
<!-- smooth scrolling -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>